In [28]:
import numpy as np
import pandas as pd

In [29]:
# first convert it into datetime format
df=pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04'],
    'value': [1, 2,3,4]
})
df
# df['date']=pd.to_datetime(df['date'])

         date  value
0  2022-01-01      1
1  2022-01-02      2
2  2022-01-03      3
3  2022-01-04      4

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4 non-null      object
 1   value   4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [31]:
df['date']=pd.to_datetime(df['date'])

In [32]:
df

        date  value
0 2022-01-01      1
1 2022-01-02      2
2 2022-01-03      3
3 2022-01-04      4

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4 non-null      datetime64[ns]
 1   value   4 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 192.0 bytes

In [34]:
df

        date  value
0 2022-01-01      1
1 2022-01-02      2
2 2022-01-03      3
3 2022-01-04      4

dayfirst=True takes first part as day rest it takes as moth and year
df['date]=pd.to_datetime(df['date'],dayfirst=True)

In [37]:
df['date']=pd.to_datetime(df['date'],format="%Y-%d-%m %H:%M:%S")

In [38]:
df

        date  value
0 2022-01-01      1
1 2022-01-02      2
2 2022-01-03      3
3 2022-01-04      4

In [ ]:
#
#it will take some time 
%timeit %timeit pd.to_datetime(df['date'],infer_datetime_format=True)

In [ ]:
#it will take some time 
%timeit %timeit pd.to_datetime(df['date'],infer_datetime_format=False)